/* Selector Universal */
* {

    padding: 0 auto;
    margin: 0 auto;

}

/* Selector ID */
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;

}
/* Selector de encabezado */
#cabecera{
    text-align: center;
    height: 15%;
    background-color: red;
    margin: 0.2cm;
    
}

#barraNavega{
    height: 5%;
    background-color: white;
    margin: 0.2cm;
}
#contenido{
    height: 70%;
    background-color: green;
    margin: 0.2cm;
    /*float: left;*/
}
#pie{
    height: 6%;
    background-color: white;
    border-radius: 1em;
    margin: 0.2cm;
    text-align: center;
    font-family: tahoma;
}

/* Selector de clase */
.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}

.texto_cabecera{
    font-family: tahoma;
    font-size: 50px;
    text-align: center;
    color: black;

}
.barra_navega{
    font-family: tahoma;
    font-size: 15px;
}
.texto_pie{
    font-family: tahoma;
    font-size: 14px;
    text-align: center;
    color: black;

}

/* Selector de etiqueta */
ul {
    text-align: center;

}

li{
    display: inline;
    padding-left: 1px;
    padding-right: 6px;
    
}
img{
    border: 1px solid whitesmoke;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
}
h1{
    text-align: center;
    font-family: tahoma;
    font-size: 20px;
}
th{
    font-family: tahoma;
    font-size: 12px;
}

