* {

    padding: 0 auto;
    margin: 0 auto;

}

#contenedor {
    width: 500px;
    height: 400px;
    background-color: rgba(240, 187, 240, 0.87);

}

#espacio{
    
    height: 80%;
    background-color: rgb(202, 127, 224);
    margin: 0.2cm;
    
}
.titulo{
    font-family: tahoma;
    text-align: center;
}
.texto{
    margin: 0.1cm;
    font-family: tahoma;
    font-size: 16px;
}
p{
    font-family: tahoma;
    
}