/* Selector Universal */
* {

    padding: 0 auto;
    margin: 0 auto;

}

/* Selector ID */
#contenedor {
    width: 1200px;
    height: 1450px;
    background-color: black;

}
/* Selector de encabezado */
#encabezado{
    text-align: center;
    height: 15%;
    background-color: pink;
    margin: 1cm;
}
#menu{
    height: 5%;
    background-color: plum;
    margin: 1cm auto;
}
#contenido{
    height: 70%;
    width: 61%;
    background-color: pink;
    margin: 0.5em;
    float: left;
}
#fueraSeccion{
    height: 70%;
    width: 36%;
    background-color: pink;
    margin: 0.5em;
    float: right;
    text-align: center;
}
#pie{
    height: 5%;
    background-color: antiquewhite;
    border-radius: 1em;
    margin: 1.5em;
    text-align: center;

}

/* Selector de clase */
.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}
.encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;

}

.imagenes {
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    border-radius: 4px;
    width: 150px;
    
}

/* Selector de etiqueta */
ul {
    text-align: center;
}

li{

    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}
